@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;691;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'antd/dist/antd.css';

body{
    font-family: 'Fira Code', monospace;
    background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #0d263b;
    --secondaryColor: #696969;
    --activeColor: #0061df;
}


.ant-carousel .slick-dots li button {
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    color: transparent;
    font-size: 0;
    background: #fff;
    border: 0;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.5s;
    border-radius: 50%;
}

.ant-carousel .slick-dots li button:focus{
    width: 10px;
    height: 10px;
}



@media (max-width: 425px) {

}